@model DataAcessLayer.ViewModel.BookingViewModel
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.type;
    var images = ViewBag.images;
}

<head>
    <title>All Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Events Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />*@
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom Theme files -->
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <!--<div class="w3ls-banner-1">-->
    @*banner-text
        //banner
        header*@
    <!--<div class="header-w3layouts">-->
    @*Navigation*@
    <!--<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Events</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html">Events</a></h1>
            </div>-->
    @*Collect the nav links, forms, and other content for toggling*@
    <!--<div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">-->
    @*Hidden li included to remove active class from about link when scrolled up past about section*@
    <!--<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("Index","Account")">Home</a></li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("About","Account")">About</a></li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("Events","Account")">Events</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hvr-sweep-to-right" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="hvr-sweep-to-right" href="icons.html">Icons</a></li>
                    <li><a class="hvr-sweep-to-right" href="typography.html">Short Codes</a></li>
                </ul>
            </li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("Gallery","Account")">Gallery</a></li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("Contact","Account")">Contact</a></li>
        </ul>
    </div>-->
    @*/.navbar-collapse*@
    <!--</div>-->
    @*/.container*@
    <!--</nav>
    </div>-->
    @*//header*@
    <!--</div>-->
    <!-- events -->
    <!--Events -->
    <br />
    <form method="post" id="insertform">

        <div class="events-agileits-w3layouts">
            <div class="container">

                <h2 class="heading-agileinfo">Events<span>Events is a professionally managed Event</span></h2>
                <div class="popular-grids">
                    @foreach (var item in data)
                    {

                        <div class="col-md-4 popular-grid">
                            @foreach (var i in images)
                            {
                                @if (item.Id == i.EventId)
                                {
                                    <img src="@i.URL" class="img-responsive" alt="" />
                                }
                            }
                            <div class="popular-text">
                                <h5 class="text-black"><button data-toggle="modal" class="btn btn-block btn-secondary" style="color:deeppink;background-color:burlywood" data-target="#myModal" onclick="getId(@item.Id)">@item.EventTypes</button></h5>
                                <div class="detail-bottom">
                                    @if (item.EventTypes == "Birthday")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                    @if (item.EventTypes == "Sangeet")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                    @if (item.EventTypes == "Wedding")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                    @if (item.EventTypes == "Photography")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                    @if (item.EventTypes == "Catering")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                    @if (item.EventTypes == "Baby Shower")
                                    {
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                                        </ul>
                                        <p>We Organize @item.EventTypes. We are always fullfiled your expections.we always give our best for your events.</p>
                                    }
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    Book Event
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input asp-for="EventId" type="hidden" id="hiddeneventId" value="" />
                                                    @*<img src="~/plugins/images/g8.jpg" alt=" " class="img-responsive" />*@
                                                    <p>
                                                        @*<label>@item.Id</label>*@
                                                        <div asp-validation-summary="ModelOnly" style="color:red"></div>
                                                        <div class="col-sm-12 col-xs-12 w3ls-lt-form">
                                                            <div class="w3ls-pr">
                                                                <input asp-for="NumberOfDays" style="font-weight: 700; font-size: 14px; color: black" type="text" placeholder="NumberOfDays" id="ndays" value="" required>
                                                                <span asp-validation-for="NumberOfDays" style="color:red"></span>
                                                                <input asp-for="Address" type="text" placeholder="Address" id="address" value="" style="font-weight: 700; font-size: 14px; color: black">
                                                                <span asp-validation-for="Address" style="color:red"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12 w3ls-lt-form">
                                                            <div class="w3ls-pr">
                                                                <input asp-for="EventDate" type="date" value="" id="edate" style="font-weight: 700; font-size: 14px; color: black" required>
                                                                <span asp-validation-for="EventDate" class="text-danger"></span>
                                                                <input asp-for="AreapinCode" type="text" placeholder="pincode" id="acode" value="" style="font-weight: 700; font-size: 14px; color: black">
                                                                <span asp-validation-for="AreapinCode" style="color:red"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12 w3ls-lt-form">
                                                            <div class="w3ls-pr">
                                                                <select class="sel" asp-for="VenuType" id="vtype" style="font-weight: 700; font-size: 14px; color: black">
                                                                    <option value="" style="font-weight: 700; font-size: 14px; color: black">Venue Type</option>
                                                                    <option value="Hall" style="font-weight: 700; font-size: 14px; color: black">Hall</option>
                                                                    <option value="OutDoor" style="font-weight: 700; font-size: 14px; color: black">OutDoor</option>
                                                                    <option value="Open terrace" style="font-weight: 700; font-size: 14px; color: black">Open terrace</option>
                                                                    <option value="Lake Terrace" style="font-weight: 700; font-size: 14px; color: black">Lake Terrace</option>
                                                                    <option value="The Village Venue" style="font-weight: 700; font-size: 14px; color: black">The Village Venue</option>
                                                                </select>
                                                                <input asp-for="NumberOfPerson" type="text" id="nper" placeholder="NumberOfPerson" value=""  style="font-weight: 700; font-size: 14px; color: black" required>
                                                                <span asp-validation-for="NumberOfPerson" style="color:red"></span>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-sm-12 col-xs-12 w3ls-lt-form">
                                                                <div class="w3ls-pr">
                                                                    <input asp-for="NumberOfDays" type="text" name="NumberOfDays" placeholder="NumberOfDays" value="" required="required">
                                                                    <span asp-validation-for="NumberOfDays" style="color:red"></span>
                                                                </div>
                                                            </div>*@
                                                        <div class="clearfix"></div>
                                                        <div class="text-center">
                                                            <input type="submit" value="Book Now" class="btn btn-block" style="color:deeppink" onclick="BookEvent()">
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @*<div class="col-md-4 popular-grid">
                                <img src="~/plugins/images/g8.jpg" class="img-responsive" alt="" />
                                <div class="popular-text">
                                    <h5><a href="#" data-toggle="modal" data-target="#myModal" value="@item.Id">@item.EventTypes</a></h5>
                                    <div class="detail-bottom">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-4 popular-grid">
                                <img src="~/plugins/images/g9.jpg" class="img-responsive" alt="" />
                                <div class="popular-text">
                                    <h5><a href="#" data-toggle="modal" data-target="#myModal" value="@item.Id">@item.EventTypes</a></h5>
                                    <div class="detail-bottom">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-4 popular-grid">
                                <img src="~/plugins/images/g6.jpg" class="img-responsive" alt="" />
                                <div class="popular-text">
                                    <h5><a href="#" data-toggle="modal" data-target="#myModal" value="@item.Id">@item.EventTypes</a></h5>
                                    <div class="detail-bottom">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-4 popular-grid">
                                <img src="~/plugins/images/g3.jpg" class="img-responsive" alt="" />
                                <div class="popular-text">
                                    <h5><a href="#" data-toggle="modal" data-target="#myModal">Promotions</a></h5>
                                    <div class="detail-bottom">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-4 popular-grid">
                                <img src="~/plugins/images/g2.jpg" class="img-responsive" alt="" />
                                <div class="popular-text">
                                    <h5><a href="#" data-toggle="modal" data-target="#myModal" value="@item.Id">@item.EventTypes</a></h5>
                                    <div class="detail-bottom">
                                        <ul>
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
                                    </div>
                                </div>
                            </div>*@
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
    <script>

        var eventid;
        function getId(id) {
            eventid = id;
            document.querySelector("#hiddeneventId").value = id;
        }
        function BookEvent() {
            var data = $("#insertform").serialize();
            if (eventid != 0) {
                $.ajax({
                    url: `/UserAccount/Events/`,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    type: "POST",
                    data: data,
                    success: (response) => {
                        if (response == "true") {
                            window.location = `/UserAccount/Events/`;
                        }
                        console.log(response);
                    }
                });
            }
        }
    </script>

    <!-- //Events -->
    @*<script src="~/plugins/js/jquery-2.2.3.min.js"></script>
        <script src="~/plugins/js/bootstrap.js"></script>*@
</body>