@model IEnumerable<DataAcessLayer.Flower>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "List";
}
<div class="card">
    <div class="card-header">
        <div class="pull-left" style="font-weight:bold;font-size:medium">Available Flower</div>
        <div style="float:right">
            <a href='@Url.Action("Create","Flower")' class="btn btn-primary float-right"><i class="fa fa-plus"></i>AddFlower</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlowerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlowerType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlowerImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlowerCost)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var tm = "#myModal" + item.FlowerId;
                var mid = "myModal" + item.FlowerId;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlowerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlowerType)
                    </td>
                    <td>
                        <img src="~/Images/@item.FlowerImage"  height="100" width="100" asp-append-version="true" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlowerCost)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FlowerId" class="btn btn-success">Edit</a> |
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@tm">
                            Delete
                        </button>

                        <div class="modal fade" id="@mid" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure want to delete this item?
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="Delete" asp-route-Id="@item.FlowerId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
