@model DataAcessLayer.ApplicationUser

@{
    ViewData["Title"] = "Registration";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EMS | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo"><a href="#"><b>Registration</b></a></div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                
                @using (Html.BeginForm(new { id = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">UserName</label>
                            @Html.TextBoxFor(m => m.UserName, new { @*@class = "form-control form-control-sm",*@ @placeholder = "Enter UserName", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-sm", @placeholder = "Enter Password", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-sm", @placeholder = "Enter Email", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">ContactNo</label>
                            @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control form-control-sm", @placeholder = "Enter ContactNo", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ContactNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-sm", @placeholder = "Enter Email", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control form-control-sm", @placeholder = "Enter City", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control form-control-sm", @placeholder = "Enter State", @Autocomplete = "off" })
                        </div>
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" id="btnsub" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                
            </div>
           
        </div>
    </div>
    
</body>
</html>

