@model IEnumerable<DataAcessLayer.Event>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "List";
}
<div class="card">
    <div class="card-header">
        <div class="pull-left" style="font-weight:bold;font-size:medium">Available Event</div>
        <div style="float:right">
            <a href='@Url.Action("Create","EventList")' class="btn btn-primary float-right"><i class="fa fa-plus"></i>AddEvent</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Images)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTypes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Images)
                    </td>
                    <td>
                        <a href='@Url.Action("Delete","EventList" , new { id = item.Id})' class="btn btn-danger">Delete</a>
                        <a href='@Url.Action("Edit","EventList" , new { id = item.Id})' class="btn btn-success">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
