@model DataAcessLayer.Equipment

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}
<div class="card">
    <div class="card-header">Add Equipment</div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Equipment", FormMethod.Post, new { id = "form" }))
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">EquipmentType</label>
                        @Html.TextBoxFor(m => m.EquipmentType, new { @class = "form-control", placeholder = "Enter Equipment Type", @Autocomplete = "off" })
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.ValidationMessageFor(m => m.EquipmentType, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">EquipmentCost</label>
                        @Html.TextBoxFor(m => m.EquipmentCost, new { @class = "form-control", placeholder = "Enter EquipmentCost", @Autocomplete = "off" })
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.ValidationMessageFor(m => m.EquipmentCost, "", new { @class = "text-danger" })
                </div>
                <div class="card-footer ">
                    <div class="fa-pull-right ">
                        <button type="submit" class="btn btn-primary" value="save">Save</button>
                        <a href='@Url.Action("Index","Equipment")' class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




