@model IEnumerable<DataAcessLayer.Equipment>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "List";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <title>Index</title>
</head>
<body>
    @*<form method="post">*@
        <div class="card">
            <div class="card-header">
                <div class="pull-left" style="font-weight:bold;font-size:medium">Available Equipment</div>
                <div style="float:right">
                    <a href='@Url.Action("Create","Equipment")' class="btn btn-primary float-right"><i class="fa fa-plus"></i>AddEquipment</a>
                </div>
            </div>
            @*<table class="table">
                    <tr>
                        <td>
                            <input type="text" value="" name="EquipmentType" class="form-control" id="Name" placeholder="EquipmentType" />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-outline-primary text-dark form-control fa fa-search" id="btnSearch" value="Search">Search</button>
                        </td>
                    </tr>
                </table>*@
            <table class="table" id="table_id">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EquipmentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EquipmentCost)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var tm = "#myModal" + item.EquipmentId;
                        var mid = "myModal" + item.EquipmentId;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EquipmentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EquipmentCost)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.EquipmentId" class="btn btn-success fa fa-edit"></a> |
                                <button type="button" class="btn btn-danger fa fa-trash-alt" data-toggle="modal" data-target="@tm">
                                </button>

                                <div class="modal fade" id="@mid" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to delete this item?
                                            </div>
                                            <div class="modal-footer">
                                                <a asp-action="Delete" asp-route-Id="@item.EquipmentId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    @*</form>*@
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</body>
</html>