@model IEnumerable<DataAcessLayer.ViewModel.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var flower = ViewBag.Flowertype;
    var equipment = ViewBag.Equipmenttype;
    var food = ViewBag.Foodtype;
    var invoice = ViewBag.invoice;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyBooking</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <div class="text-right">
            <a asp-action="ShowFlower" class="btn" style="border-radius: 100px; background-color: #454545; color: white">FlowerDecoration</a>
            <button data-toggle="modal" type="button" class="btn" style="border-radius: 100px; background-color: #454545; color: white" data-target="#myModalin">Invoice</button>
            <div class="text-center">
                <div class="modal video-modal fade" id="myModalin" tabindex="-1" role="dialog" aria-labelledby="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width:710px">
                            <div class="modal-header">
                                Invoice
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="card" style="background-color:ghostwhite">
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            EventName
                                                        </th>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            EventCost
                                                        </th>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            FlowerCost
                                                        </th>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            FoodCost
                                                        </th>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            EquipmentCost
                                                        </th>
                                                        <th style="font-weight:700;font-size:14px;color:deeppink">
                                                            TotalAmount
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item1 in invoice)
                                                    {
                                                        <tr>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.EventName
                                                            </td>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.EventCost
                                                            </td>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.FlowerCost
                                                            </td>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.FoodCost
                                                            </td>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.EquipmentCost
                                                            </td>
                                                            <td style="font-weight:700;font-size:14px;color:black">
                                                                @item1.total
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div style="font-weight:700;font-size:14px;color:black;float:right;padding-right:3em">
                                                Total Payable Amount: @ViewBag.total
                                            </div><br />
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="text-center">
                                            <button class="btn" style="background-color:red" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="col-md-6" style="padding-bottom:2em">
                <div class="card" style="background-color:ghostwhite;height:550px">
                    <div class="card-body">
                        <div>
                            <div class="card-title" style="display:flex;padding-top:1em">
                                <div class="col-md-11">
                                    <h5 class="text-center" style="font-weight: 700; font-size: 20px; color: deeppink; align-items: center; padding: 0;">
                                        @Html.DisplayFor(modelItem => item.EventName)
                                    </h5>
                                </div>
                                <div class="col-md-1">
                                    <a asp-action="IsCancle" asp-route-id="@item.Id" style="color: red;" class="fa fa-close fa-2x text-right"></a>
                                </div>
                            </div>
                        </div><br />
                        <table class="table text-center">
                            <tbody>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.FromDate)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.EventTime)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.EventTime)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.ToDate)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.ToDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.AreapinCode)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.AreapinCode)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.VenuType)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.VenuType)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.NumberOfPerson)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayFor(modelItem => item.NumberOfPerson)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td style="font-weight:700;font-size:14px;color:black">
                                        @if (item.Status == "Approved")
                                        {
                                            <span class="badge badge-pill inv-badge" style="background-color: #5cb85c; width: 100px; height: 31px; padding-top: 10px;">@item.Status</span>

                                        }
                                        @if (item.Status == "Rejected")
                                        {
                                            <span class="badge badge-pill inv-badge" style="background-color: #dc3545; width: 100px; height: 31px; padding-top: 10px;">@item.Status</span>
                                        }
                                        @if (item.Status == "Pendding")
                                        {
                                            <span class="badge badge-pill inv-badge" style="background-color: #ffc107; width: 100px; height: 31px; padding-top: 10px;">@item.Status</span>
                                        }
                                    </td>
                                </tr>
                                
                                <tr>

                                    <td>
                                        <form id="myform" method="post">
                                            <button data-toggle="modal" type="button" class="btn" style="border-radius:100px;background-color:lightslategray;color:black" data-target="#myModal" onclick="getId(@item.Id)">BookDecoration</button>

                                            <div>

                                                <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                Book Decorations
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label style="font-weight: 700; font-size: 14px; color: black;">Equipment</label>
                                                                            <select class="form-control" name="Equipment" id="Eid">
                                                                                <option value="" style="font-weight: 700; font-size: 14px; color: black">--Select Equipment--</option>
                                                                                @foreach (var i in equipment)
                                                                                {
                                                                                    <option value="@i.EquipmentId" style="font-weight: 700; font-size: 14px; color: black"> @i.EquipmentType</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label class="control-label" style="font-weight: 700; font-size: 14px; color: black">Flower</label>
                                                                            <select class="form-control" name="Flower" id="Fowerid">
                                                                                <option value="" style="font-weight: 700; font-size: 14px; color: black">--Select Flower--</option>
                                                                                @foreach (var i in flower)
                                                                                {
                                                                                    <option value="@i.FlowerId" style="font-weight: 700; font-size: 14px; color: black"> @i.FlowerType</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label class="control-label" style="font-weight: 700; font-size: 14px; color: black">Food</label>
                                                                            <select class="form-control" name="Food" id="FoodId">
                                                                                <option value="" style="font-weight: 700; font-size: 14px; color: black">--Select Food--</option>
                                                                                @foreach (var i in food)
                                                                                {
                                                                                    <option value="@i.FoodId" style="font-weight: 700; font-size: 14px; color: black"> @i.FoodType</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer ">
                                                                        <div class="text-center">
                                                                            <input type="submit" class="btn" style="background-color:deeppink" onclick="BookDecoration()" value="Save">
                                                                            <button class="btn" style="background-color:red" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        <a asp-action="ShowBookingDetalis" asp-route-id="@item.Id" class="btn" style="background-color: lightslategray; color: black; border-radius: 100px;">ShowDecoration</a>

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                      
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        }
    </div>

    <script>
        var bookinid = 0;
        function getId(id) {
            bookinid = id;
        }
        function BookDecoration() {
            if (bookinid != 0) {
                console.log("From update:" + bookinid);
                var Eid = document.getElementById("Eid").value;
                var Foodid = document.getElementById("FoodId").value;
                var Fowerid = document.getElementById("Fowerid").value;
                $.ajax({
                    url: "/Booking",
                    type: "POST",
                    data: { BookingId: bookinid, Flower: Fowerid, Food: Foodid, Equipment: Eid },
                    success: (response) => {
                        if (response == "true") {
                            window.location = "/Booking";
                        }
                        console.log(response);
                    }
                })
            }
        }
    </script>
</body>
</html>
