@model IEnumerable<DataAcessLayer.ViewModel.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyBooking</title>
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead style="border:groove;border-color:black">
                    <tr style="border:groove;border-color:black">
                        @*<th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>*@
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.EventName)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.EventDate)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.AreapinCode)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.VenuType)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.NumberOfPerson)
                        </th>
                        <th class="font-weight-bold">Action</th>
                    </tr>
                </thead>
                <tbody style="border:groove;border-color:black">
                    @foreach (var item in Model)
                    {
                        <tr style="border:groove;border-color:black">
                           
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.EventName)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.EventDate)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.AreapinCode)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.VenuType)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.NumberOfPerson)
                            </td>
                            <td class="font-weight-bold">

                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                                @*<a onclick="showInPopup('@Url.Action("InsertBooklingDetalis","Booking",null,Context.Request.Scheme)', 'Book Decoration')" asp-route-id="@item.Id" class="btn btn-success">BookDecoration</a>*@
                                <a asp-action="InsertBooklingDetalis" asp-route-id="@item.Id" class="btn btn-success">BookDecoration</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>
