@model IEnumerable<DataAcessLayer.ViewModel.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.id;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyBooking</title>
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead style="border:groove;border-color:black">
                    <tr style="border:groove;border-color:black">
                        @*<th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>*@
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.EventName)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.EventDate)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.AreapinCode)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.VenuType)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.NumberOfPerson)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th class="font-weight-bold">Booking</th>
                    </tr>
                </thead>
                <tbody style="border:groove;border-color:black">
                    @foreach (var item in Model)
                    {
                        <tr style="border:groove;border-color:black">

                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.Id)
                                @Html.DisplayFor(modelItem => item.EventName)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.EventDate)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.AreapinCode)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.VenuType)
                            </td>
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.NumberOfPerson)
                            </td>
                            <td class="font-weight-bold">
                                @if (item.Status == "Approved")
                                {
                                    <button type="button" class="btn btn-success" value="@item.Status">@item.Status</button>
                                }
                                @if (item.Status == "Rejected")
                                {
                                    <button type="button" class="btn btn-danger" value="@item.Status">@item.Status</button>
                                }
                                @if (item.Status == "Pendding")
                                {
                                    <button type="button" class="btn btn-warning" value="@item.Status">@item.Status</button>
                                }
                            </td>
                            @foreach (var i in data)
                            {
                                @if (i != item.Id)
                                {
                                    <td class="font-weight-bold">
                                        <a asp-action="InsertBooklingDetalis" asp-route-id="@item.Id" class="btn btn-success">BookDecoration</a>
                                    </td>
                                }
                                else
                                {
                                    <td class="font-weight-bold">
                                        <a asp-action="ShowBookingDetalis" asp-route-id="@item.Id" class="btn" style="background-color:hotpink">ShowDecoration</a>
                                    </td>
                                    @*<td>
                                            <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            Booked Decorations
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>*@
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>
