<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Events Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
        SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />*@
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    @*<div id="placeholder"></div>*@
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Events</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="@Url.Action("Events","UserAccount")">Events</a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>

                        <li><a class="hvr-sweep-to-right" href="@Url.Action("Index","UserAccount")">Home</a></li>
                        <li><a class="hvr-sweep-to-right" href="@Url.Action("About","UserAccount")">About</a></li>
                        <li><a class="hvr-sweep-to-right" href="@Url.Action("Events","UserAccount")">Events</a></li>
                        <li><a class="hvr-sweep-to-right" href="@Url.Action("Gallery","UserAccount")">Gallery</a></li>
                        <li><a class="hvr-sweep-to-right" href="@Url.Action("Contact","UserAccount")">Contact</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="hvr-sweep-to-right" href="@Url.Action("InsertBooking","Booking")">BookEvent</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hvr-sweep-to-right" data-toggle="dropdown">Hello @User.Identity.Name <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-sweep-to-right" href="@Url.Action("Profile","UserAccount")">Profile</a></li>
                                    <li><a class="hvr-sweep-to-right" href="@Url.Action("UserChangePassword","UserAccount")">Change Password</a></li>
                                    <li><a class="hvr-sweep-to-right" href="@Url.Action("LogOut","UserAccount")">LogOut</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="hvr-sweep-to-right" href="@Url.Action("Login","UserAccount")">SignIn</a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <div>@RenderBody()</div>
    <div class="footer-top">
        <div class="container">
            <div class="col-md-3 foot-left">
                <h3>About Us</h3>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
            </div>
            <div class="col-md-3 foot-left">
                <h3>Get In Touch</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

                <div class="contact-btm">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <p>90 Street, City, State 34789.</p>
                </div>
                <div class="contact-btm">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <p>+456 123 7890</p>
                    <div class="contact-btm">
                    </div>
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    <p><a href="mailto:example@email.com">info@example.com</a></p>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="col-md-3 foot-left">
                <h3>Latest Events</h3>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><img src="~/plugins/images/g1.jpg" alt="" class="img-responsive"></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><img src="~/plugins/images/g2.jpg" alt="" class="img-responsive"></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><img src="~/plugins/images/g3.jpg" alt="" class="img-responsive"></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><img src="~/plugins/images/g4.jpg" alt="" class="img-responsive"></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 foot-left">
                <h3>Subscribe</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has </p>
                <form action="#" method="post">
                    <input type="email" Name="Enter Your Email" placeholder="Enter Your Email" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /footer-top -->
    <!-- footer -->
    <div class="copy-right">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-6 copy-right-grids">
                <div class="copy-left">
                    <p>&copy; 2017 Events. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 top-middle">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- //footer -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Events
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/plugins/images/g8.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up -->
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>

    <!-- skills -->

    <script src="~/plugins/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!-- start-smoth-scrolling -->
    <!-- OnScroll-Number-Increase-JavaScript -->
    @* <script type="text/javascript" src="~/plugins/js/numscroller-1.0.js"></script>*@
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!--flexiselDemo1 -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 2,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 991,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/plugins/js/jquery.flexisel.js"></script>
    <!--//flexiselDemo1 -->

    <script type="text/javascript" src="~/plugins/js/move-top.js"></script>
    <script type="text/javascript" src="~/plugins/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script src="~/plugins/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });

    </script>
    <!-- //here ends scrolling icon -->
    @*<script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>