@*@using Microsoft.AspNetCore.Http
    @{ var name = Context.Session.GetString("Name");}*@
<head>
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">
    <script src="~/plugins/js/jquery-2.2.3.min.js"></script>
    <script src="~/plugins/js/bootstrap.js"></script>
</head>

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="hvr-sweep-to-right" href="@Url.Action("InsertBooking","Booking")">BookEvent</a>
    </li>

    @*<li class="nav-item">
            <a class="hvr-sweep-to-right" href="@Url.Action("Index","UserAccount")">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="hvr-sweep-to-right" href="@Url.Action("LogOut","UserAccount")">LogOut</a>
        </li>*@
    <li class="dropdown">
        <a href="#" class="dropdown-toggle hvr-sweep-to-right" data-toggle="dropdown">Hello @User.Identity.Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a class="hvr-sweep-to-right" href="@Url.Action("Profile","UserAccount")">Profile</a></li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("UserChangePassword","UserAccount")">Change Password</a></li>
            <li><a class="hvr-sweep-to-right" href="@Url.Action("LogOut","UserAccount")">LogOut</a></li>
        </ul>
    </li>
    @*<li class="nav-item"><a class="hvr-sweep-to-right" href="@Url.Action("LogOut","UserAccount")">LogOut</a></li>*@
}
else
{
    @*<li class="nav-item">
            <a class="hvr-sweep-to-right" href="@Url.Action("Registration","Account")">SignUp</a>
        </li>*@
    <li>
        <a class="hvr-sweep-to-right" href="@Url.Action("Login","UserAccount")">SignIn</a>
    </li>
}
