@using Microsoft.AspNetCore.Http
@{ var name = Context.Session.GetString("Name");}
<head>
    <link href="~/plugins/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/plugins/css/font-awesome.css" rel="stylesheet">
</head>

@if (name != null)
{
    <li class="nav-item">
        <a class="hvr-sweep-to-right" href="@Url.Action("InsertBooking","Booking")">BookEvent</a>
    </li>
    <li class="nav-item">
        <a class="hvr-sweep-to-right" href="@Url.Action("Index","Account")">Hello @name</a>
    </li>
    <li class="nav-item">
        <a class="hvr-sweep-to-right" href="@Url.Action("LogOut","Account")">LogOut</a>
    </li>
}
else
{
    @*<li class="nav-item">
            <a class="hvr-sweep-to-right" href="@Url.Action("Registration","Account")">SignUp</a>
        </li>*@
    <li>
        <a class="hvr-sweep-to-right" href="@Url.Action("Login","Account")">SignIn</a>
    </li>
}
